<!-- SIGN IN STYLE -->
<link rel="stylesheet" href="/styles/signin.css">

<div class="sign-in-container">
    <h3 class="sign-in-title">Log in</h3>
    <div class="card-container">
        <img src="/img/logIn.svg" alt="logo" class="logo">
        <form action="/signin" method="POST" class="form-container">
            <div class="form-element">
                <div class="text-input">Username</div>
                <input type="text" name="username" class="form-input" autocomplete="off">
            </div>
            <div class="form-element">
                <div class="text-input">Password</div>
                <input type="password" name="password" class="form-input" autocomplete="off">
            </div>
            <div class="form-element btn-container">
                <button class="log-in-btn">Log In</button>
            </div>
        </form>
    </div>
</div>