<!-- SIGN IN STYLE -->
<link rel="stylesheet" href="/styles/signup.css">

<div class="sign-up-container">
    <h3 class="sign-up-title">Sign up</h3>
    <div class="card-container">
        <img src="/img/signup.svg" alt="logo" class="logo">
        <form action="/signup" method="POST" class="form-container">
            <div class="form-element">
                <div class="text-input">Fullname</div>
                <input type="text" name="fullname" class="form-input" autocomplete="off">
            </div>
            <div class="form-element">
                <div class="text-input">Username</div>
                <input type="text" name="username" class="form-input" autocomplete="off">
            </div>
            <div class="form-element">
                <div class="text-input">Password</div>
                <input type="password" name="password" class="form-input" autocomplete="off">
            </div>
            <div class="form-element btn-container">
                <button class="sign-up-btn">Sign up</button>
            </div>
        </form>
    </div>
</div>